body {
    background-color: rgb(253, 251, 251);
}

#ccabecalho {
  top: 0;
}

#minha_foto {
  height: 300px;
}

#listaEsq {
  display: inline-block;
}

#listaDir {
  display: inline-block;
}

article {
  display: inline-block;
  text-align: justify;
  margin-left: 20px;
  width: 230px;
}

aside {
  display: inline-block;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
}