body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#titulo {
  color: coral;
  font-family: sans-serif;
}

nav {
  margin-top: 80px;
}

#minha_foto {
  float: left;
  height: 300px;
}

.lado-esquerdo {
  color: darkblue;
  float: left;
  line-height: 20px;
  text-align: justify;
  margin-left: 20px;
  position: static;
  width: 230px;
}

.lado-direito {
  color: blueviolet;
  display: inline-block;
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  position: static;
  width: 250px;
}

section {
  border: 2px solid red;
  display: inline-block;
  padding: 25px;
  margin-left: 68.8px;
}

footer {
  background-color: tomato;
  color: white;
  font-size: 30px;
  padding: 4px;
  text-align: center;
  margin-top: 100px; }
