body {
    background-color: rgb(253, 251, 251);
}

#ccabecalho {
  top: 0;
}

#minha_foto {
  display: block;
  height: 300px;
}

#listaEsq {
  display: inline-block;
  text-align: left;
}

#listaDir {
  display: inline-block;
}